@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Biosalvus is intended to be used for Government and Non-Profit Organisational use to better manage some of Australia's most vulnerable species and their threats.
    The current version of Biosalvus will predominantly focus on Endangered Birds with the prospect of expanding the scope in future developments</p>
