
@{
    ViewBag.Title = "Bushfire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p>
    As of December 2019, Australian wildfires have burned about 3 million hectares of land in Queensland and eastern New South Wales, almost the size of Belgium. The fire hit arid and flammable ecosystems and typical fire-preventing wetlands and tropical rainforests, destroying dozens of rare animal and plant habitats.<br />
    There are more Australian endemic species in a more dangerous situation. An analysis pointed out that the mountain fire affected more than 100 species of growth sites, and scientists said that the fire may push nearly half of the species to the edge of extinction. Vulnerable species bear the brunt of the impact of the climate crisis on the environment.<br />
    The Australian Federal Environment Agency compared the distribution map of the fire from August last year to January 13 this year with the distribution map of protected species under environmental law. It was found that a total of 331 threatened species in six states were affected by the fire Including 272 plants, 16 mammals, 14 frogs, 9 bird species, 7 reptiles, 4 fish species and 1 spider species. Among the 49 species, at least 80% of the area was affected by the fire. In addition, there are 65 species of growth sites, half or more of the area is located in the fire area.<br />
    BioSalvus can help you better understand the situation of these endangered species being affected by the bushfires.
</p>

