
@{
    ViewBag.Title = "ClimateChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p>
    Nearly half of the nearly 200 Australian species are threatened by climate change.<br />
    Climate change is one of the main factors that cause the loss of global biodiversity. Animals and plants may be affected by climate change in different ways. Some may be directly affected by rising sea levels or melting snow, while others may lose the pollinators or predators they depend on.<br />
    Species that cannot migrate to a more suitable habitat or do not have a suitable habitat may become extinct. Understanding how each of our species is affected by climate change means that we can help them survive.<br />
    BioSalvus can help you better understand the situation of these endangered species being affected by the climate.<br />
</p>

